<h1>About</h1>
{{#if name}}
  <p>This page is about <strong>{{name}}</strong></p>
{{/if}}
{{#unless name}}
  <p>This page is about <strong>nobody</strong></p>
{{/unless}}
  {{#each lists}}
<ul>
  <li>{{item1}}</li>
  <li>{{item2}}</li>
  {{#if item3}}
    <li>{{item3}}</li>
  {{/if}}
</ul>
{{/each}}
<br><br>
<form action="/about/contact" method="get">
<label> Try send your name:</label>
  <input type="text" name="name">
  <button type="submit">Send</button>
</form>
<br><br>
<a href="/">Return</a>