<div class="character-file">
  <h1>Your Character's Page</h1>
  <p>You are a <strong>{{charClass}}</strong> named <strong>{{name}}</strong>.</p>
  <p>When you run to a battle, you yell <span style="text-transform: uppercase; font-weight:bold" >"{{warYells}}!!!!"</span></p>
</div>