<form action="/about/my-info" method="post">
  <label>Your name here:<input type="text" name="name"></label>
  <label>Your war crying:<input type="text" name="warcrying"></label>
  <label>Your class:
    <select name="class">
      <option value="barbarian">Barbarian</option>
      <option value="cleric">Cleric</option>
      <option value="ranger">Ranger</option>
      <option value="rogue">Rogue</option>
    </select>
  </label>
</form>